/* Font */
.font-display {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Material Icons */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 20px;
}
